.container{
    max-width: 1190px!important;
    padding: 0 40px!important;
    margin: 0 auto!important;
}

@media (max-width: 400px){
    .container{
        min-width: 100%;
        padding: 0 5px;
        margin: 0;
    }
}